.Matches_body{
    width: 733px;
    height: 378px;
    left: 395px;
    top: 455px;
    
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    position: absolute;
}