.League_Bar{
    width: 261px;
    height: 378px;
    left: 112px;
    top: 455px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    position: absolute;
}